
/*--------------------------------------------------------------
Shopstar - Custom WooCommerce Styling
--------------------------------------------------------------*/

/* -------- Table -------- */

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
    margin: 0 0 50px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.woocommerce table.cart th,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart th {
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 16px;
    text-shadow: none;
    font-weight: 500;
    padding: 10px;
}

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
    padding: 25px 10px;
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
    /*max-width: 300px;*/
    float: right;
}
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr th {
    padding: 15px 10px 15px 0;
}
.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table td {
    padding: 15px 0 15px 10px;
    text-align: right;
    width: 12%;
}
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot th {
    vertical-align: middle;
}
.woocommerce table.shop_table.my_account_orders th,
.woocommerce-page table.shop_table.my_account_orders th,
.woocommerce table.shop_table.order_details th,
.woocommerce-page table.shop_table.order_details th,
.woocommerce-checkout table.shop_table thead .product-name,
.woocommerce-checkout table.shop_table thead .product-total {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
}
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot th,
.woocommerce table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot td {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
    max-width: 300px;
}

.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    width: 52%;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: 50%;
}

.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
    font-size: 30px;
    color: #777;
}
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
    width: 100px;
    height: auto;
}

.woocommerce #customer_details,
.woocommerce-page #customer_details {
    display: block;
    width: 54%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 6%;
}

.woocommerce #customer_details .col-1,
.woocommerce-page #customer_details .col-1,
.woocommerce #customer_details .col-2,
.woocommerce-page #customer_details .col-2 {
    float: none;
    width: 100%;
}
.woocommerce #customer_details .col-2,
.woocommerce-page #customer_details .col-2 {
    margin: 25px 0 0;
    padding: 25px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.woocommerce #order_review_heading,
.woocommerce-page #order_review_heading,
.woocommerce #order_review,
.woocommerce-page #order_review {
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.02);
    display: block;
    width: 40%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 4%;
    margin-left: 0;
}
.woocommerce #order_review_heading,
.woocommerce-page #order_review_heading {
    border-bottom: 0;
    padding: 20px 20px 0;
    margin: 59px 0 0;
}
.woocommerce #order_review,
.woocommerce-page #order_review {
    border-top: 0;
    padding: 20px 20px 4px;
}

.woocommerce form .form-row,
.woocommerce-page form .form-row {
    padding: 0;
    margin: 0 0 5px;
}
.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background-color: rgba(0, 0, 0, 0.02);
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    padding: 8px;
}
.woocommerce form .form-row textarea.input-text,
.woocommerce-page form .form-row textarea.input-text {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background-color: rgba(0, 0, 0, 0.02);
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    padding: 8px;
    min-height: 100px;
}

.woocommerce .order_details,
.woocommerce-page .order_details {
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.woocommerce .order_details li,
.woocommerce-page .order_details li {
    padding: 20px;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single {
    background: none;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: none;
    height: 36px;
    border-radius: 0;
    padding: 2px 0 4px 8px;
}

.account-link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
    padding: 17px 0 0 0;
    line-height: 14px;
	height: 100%;
}

/* -------- Header Cart -------- */

.header-cart {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0 0 15px;
    padding: 9px 0 0 0;
    line-height: 14px;
	height: 100%;
}
.header-cart-contents {
    text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
.header-cart-contents:hover .fa-shopping-cart  {
	color: rgba(255, 255, 255, 0.6);
}
.header-cart-amount {
}
.header-cart-checkout {
    margin: 0;
    padding: 0 0 0 6px;
}
.header-cart-checkout .fa {
    font-size: 20px;
    margin: 0 0 0 2px;
    padding: 2px 0 3px 3px;
    border-radius: 3px;
    color: #FFF;
    
    -webkit-transition: color 0.1s linear 0s;
     -moz-transition: color 0.1s linear 0s;
      -ms-transition: color 0.1s linear 0s;
       -o-transition: color 0.1s linear 0s;
          transition: color 0.1s linear 0s;
}


/* -------- Products Widget -------- */

.widget_woocommerce_products .widget-title {
	font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
	background: url('../images/heading-underline.jpg') center bottom no-repeat;
}

.widget_woocommerce_products ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin: 0;
}
.woocommerce ul.product_list_widget li,
.widget_woocommerce_products ul li {
	display: inline-block;
	vertical-align: top;
	float: none;
	width: 15%;
    margin-right: 5.2%;
	text-align: center;
}
.widget_woocommerce_products ul li:last-child {
    margin-right: 0;
}
.widget_woocommerce_products ul li a {
	text-decoration: none;
}

.woocommerce ul.product_list_widget li img,
.widget_woocommerce_products img {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto 10px auto;
    width: auto;
}
.widget_woocommerce_products ul li a:hover img {
	box-shadow: none;
	border: 1px solid #828387;
}

.widget_woocommerce_products .product-title {
	text-transform: uppercase;
	text-align: center;
	display: block;
    font-size: 13px;
	font-weight: 400;
}
.widget_woocommerce_products del {
	display: inline-block;
	margin-right: 5px;
}
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover {
    font-weight: 400;
	color: #939598;
}
.widget_woocommerce_products ins {
	display: inline-block;
	background-color: transparent;
    font-weight: 700;
}
.widget_woocommerce_products ins .amount {
	color: #ba2227;
}
.widget_woocommerce_products .amount {
	text-align: center;
	display: block;
	font-size: 15px;
	font-weight: 700;
}

.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled] {
	color: #939598;
	border-radius: 0;
	border: none;
	border-color: #939598;
	background: #FFFFFF;
	min-width: 170px;
	height: 48px;
	padding: .8em 1em .8em 1em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
}

/* -------- Breadcrumbs -------- */

.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
    line-height: 15px;
    font-size: 12px;
	font-weight: 300;
    margin: 0 auto 30px auto;
	text-align: center;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
	text-decoration: none;
}

/* -------- Product List Page -------- */

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.015);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    width: 50%;
    float: left;
    margin: 0 0 30px;
    padding: 15px 0 16px;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.015);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    width: 50%;
    text-align: right;
    margin: 0 0 30px;
    padding: 10px 0;
    float: left;
}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
    background: white;
    border-radius: 1px;
    border: 1px solid rgb(220, 220, 220);
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
    padding: 6px;
    font-weight: 600;
    color: rgb(89, 89, 89);
}

.woocommerce .products ul,
.woocommerce ul.products,
.woocommerce-page .products ul,
.woocommerce-page ul.products {
    margin: 0 -0.5% 10px;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: 24%;
    margin: 0 0.5% 35px;
    text-align: center;
    float: left;
    list-style-type: none;
    position: relative;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span {
    padding: 10px !important;
}
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul {
    border-radius: 3px;
}
.woocommerce nav.woocommerce-pagination ul li:first-child,
.woocommerce-page nav.woocommerce-pagination ul li:first-child {
    border-radius: 3px 0 0 3px;
}
.woocommerce nav.woocommerce-pagination ul li:last-child,
.woocommerce-page nav.woocommerce-pagination ul li:last-child {
    border-radius: 0 3px 3px 0;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
	max-width: 100%;
	width: auto;
	
    -webkit-transition: all 0.08s linear 0s;
     -moz-transition: all 0.08s linear 0s;
      -ms-transition: all 0.08s linear 0s;
       -o-transition: all 0.08s linear 0s;
          transition: all 0.08s linear 0s;
}

.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    line-height: 1em;
    font-weight: 500;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
}
.woocommerce #content ul.products li.product span.price,
.woocommerce-page #content ul.products li.product span.price {
    font-weight: 600;
    padding: 0;
    font-size: 15px;
    margin: 0;
    text-align: center;
}
.widget_woocommerce_products ul li del,
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
	opacity: 0.6;
	font-weight: 400;
}
.widget_woocommerce_products del .amount {
	font-weight: 400;
}

.woocommerce .products .star-rating,
.woocommerce-page .products .star-rating {
    position: absolute;
    left: 4px;
    top: 5px;
    opacity: 0;
    
    -webkit-transition: all 0.08s linear 0s;
     -moz-transition: all 0.08s linear 0s;
      -ms-transition: all 0.08s linear 0s;
       -o-transition: all 0.08s linear 0s;
          transition: all 0.08s linear 0s;
}

.woocommerce span.onsale {
	padding: 0;
	text-transform: uppercase;
	min-width: 5em;
	min-height: 5em;
	line-height: 5em;
	background-color: #ba2227
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;
    width: 70px;
    height: 28px;
    min-height: 20px;
    margin: 0;
    padding: 4px 0 0;
    line-height: 20px;
    font-size: 14px;
    text-shadow: none;
    font-weight: 400;
    text-transform: uppercase;
    right: -6px;
    top: 5px;
}
.woocommerce ul.products li.product .onsale:after,
.woocommerce-page ul.products li.product .onsale:after {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    top: 25px;
    right: 2px;
    
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 8px 0 0;
    text-shadow: none;
}
.woocommerce ul.products li.product a.added_to_cart,
.woocommerce-page ul.products li.product a.added_to_cart {
	display: none;
    width: 25px;
    overflow: hidden;
    height: 31px;
    line-height: 20px;
    position: absolute;
    bottom: 5px;
    left: 65px;
    color: transparent;
}
.woocommerce ul.products li.product a.added_to_cart:before,
.woocommerce-page ul.products li.product a.added_to_cart:before {
    color: #FFF;
    content: "\2713";
    font-size: 26px;
}

.woocommerce ul.products li.product a:hover img,
.woocommerce-page ul.products li.product a:hover img {
    box-shadow: 0 0 0 4px rgb(28, 28, 28), 0 2px 18px rgba(0, 0, 0, 0.7);
}
.woocommerce ul.products li.product a:hover .star-rating,
.woocommerce-page ul.products li.product a:hover .star-rating {
    opacity: 1;
}


/* Result Count */

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	border-bottom: 0;
	box-shadow: none;
	padding: 15px 0 14px;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	border-bottom: 0;
	box-shadow: none;
}

.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
	border: 1px solid #ccc;
}

/* Sidebar mode */

/* Product Item container */
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	width: 30%;
	margin: 0 1.6% 35px;
	min-height: 400px;
}

.post-type-archive-product.woocommerce .widget-area,
.post-type-archive-product.woocommerce-page .widget-area {
	padding-top: 151px;
}


/* Full width mode */
.post-type-archive-product.woocommerce.shopstar-shop-full-width #container,
.post-type-archive-product.woocommerce-page.shopstar-shop-full-width #container,
.archive.woocommerce-page.shopstar-shop-full-width #container {
	width: 100%;
	float: none;
	padding: 0;
}
.post-type-archive-product.woocommerce.shopstar-shop-full-width .widget-area,
.post-type-archive-product.woocommerce-page.shopstar-shop-full-width .widget-area,
.archive.woocommerce-page.shopstar-shop-full-width .widget-area {
	display: none;
}

/* Product Item container */
.post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
.post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
.archive.shopstar-shop-full-width ul.products li.product {
	width: 23%;
	margin: 0 1% 35px;
}

/* On Sale badge */
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
	padding: 0;
	text-transform: uppercase;
	min-width: 3em;
	min-height: 3em;
	line-height: 3.3em;
    border-radius: 100%;
	width: 45px;
    height: 45px;
    margin: 0;
    font-size: 14px;
    text-shadow: none;
    font-weight: 400;
    text-transform: uppercase;
    right: -6px;
    top: -6px;	
	color: #FFFFFF;
}

/* Product thumbnail */
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto 10px auto;	
}

.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
	box-shadow: none;
	border: 1px solid #828387;
}

/* Stars */
.woocommerce ul.products li.product .star-rating {
    color: #f1b038;
}

/* Sale price */
.woocommerce ul.products li.product .price ins {
	color: #ba2227;
	display: inline-block;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	text-align: center;
}

.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
	display: inline-block;
	margin-right: 5px;
}

/* Product Title */
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
}

/* Add to Cart button */
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button {
	color: #FFFFFF;
	border-radius: 0;
	border: none;
	border-color: #939598;
	width: 100%;
	max-width: 170px;
	height: 48px;
	line-height: 1;
	padding: .8em 1em .8em;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
}

/* -------- Single Product Page -------- */

.woocommerce div.product div.images img {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 0 6px rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 auto 10px auto;
}

.product.has-default-attributes.has-children>.images {
	opacity: 1;
}

.woocommerce #content div.product .product_title,
.woocommerce div.product .product_title,
.woocommerce-page #content div.product .product_title,
.woocommerce-page div.product .product_title {
	text-align: left;
	font-size: 20px;
	background: none;
	font-weight: 400;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    margin: 0 0 40px;
    
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    margin-top: 5px;
    margin-bottom: 40px;
}

.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page input.button,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt {
    text-shadow: none !important;
    font-size: 16px;
    font-weight: 400;
	height: 48px;
	line-height: 26px;
    border: none;
    border-radius: 0;
	padding: .6em 1em .6em 1em;
    margin: 0 0 0 7px;
    color: #FFFFFF;
}
.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page button.button.alt:hover {
	color: #FFFFFF;
}

.woocommerce table.cart input.button,
.woocommerce-page #content table.cart input.button,
.woocommerce-page table.cart input.button {
	border: none;
}

.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
	/*width: 366px;*/
}

.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
    background-color: #FFF;
    width: 50%;
    padding: 8px 6px;
    margin: 0;
}

	.woocommerce #content table.cart td.actions .coupon .button,
	.woocommerce table.cart td.actions .coupon .button,
	.woocommerce-page #content table.cart td.actions .coupon .button,
	.woocommerce-page table.cart td.actions .coupon .button {
		float: left !important;    
	}

.woocommerce form.checkout_coupon .form-row-first,
.woocommerce-page form.checkout_coupon .form-row-first {
    width: 56%;
}
.woocommerce form.checkout_coupon .form-row-last,
.woocommerce-page form.checkout_coupon .form-row-last {
    width: 44%;
}
.woocommerce form.checkout_coupon input.input-text,
.woocommerce-page form.checkout_coupon input.input-text {
    width: 100%;
}

.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
    width: 120px;
	/*
    float: left;
    */
}
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #F5F5F5;
    border-radius: 3px;
	padding: 0px;
}
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
    width: 40px;
    height: 35px;
    color: #5e5e5e;
    float: left;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-shadow: none;
    background: none !important;
    border: 0;
    box-shadow: none;
    outline: none !important;
}

.woocommerce-cart .wc-proceed-to-checkout,
.woocommerce-cart .wc-proceed-to-checkout {
	display: inline-block;
}

.woocommerce #content div.product .product_title,
.woocommerce div.product .product_title,
.woocommerce-page #content div.product .product_title,
.woocommerce-page div.product .product_title {
    margin: 0 0 10px;
    
}
.woocommerce .woocommerce-product-rating,
.woocommerce-page .woocommerce-product-rating {
    float: right;
    margin: 8px 0 0;
}
.woocommerce #content div.product p.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page div.product p.price {
    font-size: 24px;
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
	opacity: 0.6;
	font-weight: 400;
}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	color: #ba2227;
}
.woocommerce form.cart,
.woocommerce-page form.cart {
    margin-top: 30px;
}

.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input {
    position: relative;
}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
    margin: 20px 0 30px;
    padding: 25px 0 40px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 0;
    border-right: 0;
}
.woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
    float: left;
    width: 20%;
    margin: 0 2% 0 0;
    padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs:before,
.woocommerce div.product .woocommerce-tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs:before,
.woocommerce-page div.product .woocommerce-tabs:before,
.woocommerce #content div.product .woocommerce-tabs:after,
.woocommerce div.product .woocommerce-tabs:after,
.woocommerce-page #content div.product .woocommerce-tabs:after,
.woocommerce-page div.product .woocommerce-tabs:after {
    content: ' ';
    display: table;
    clear: both;
}
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel {
    padding: 10px 0 0;
    margin: 0 0 0 1%;
    width: 77%;
    float: left;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    background: none;
    box-shadow: none;
    border: 0 none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 5px 10px 5px 10px;
    margin: 0;
    font-size: 15px;
    border-radius: 0 !important;
    display: block;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
	color: inherit;
    text-shadow: none;
    font-weight: 400;
    display: block;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
	font-weight: 700;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after {
    border: 0;
    box-shadow: none;
}

.woocommerce #content div.product form.cart .variations td.label,
.woocommerce div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label {
    padding: 5px 30px 10px 0;
}

.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text,
.woocommerce form .form-row select,
.woocommerce-page form .form-row select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select {
    background: white;
    border-radius: 1px;
    border: 1px solid rgb(220, 220, 220);
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
    padding: 6px;
    font-weight: 600;
    margin: 0 0 3px;
}
.woocommerce .entry-summary .single_variation_wrap,
.woocommerce-page .entry-summary .single_variation_wrap {
    text-align: right;
    font-size: 18px;
}

.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button {
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 9px 20px 10px;
    box-shadow: none;
    color: #FFF;
    text-shadow: none;
    font-weight: 400;
    font-size: 14px;
}



/* Full width mode */
.single-product.woocommerce.shopstar-shop-full-width #container,
.single-product.woocommerce-page.shopstar-shop-full-width #container {
	width: 100%;
	float: none;
	padding: 0;
}
.single-product.woocommerce.shopstar-shop-full-width .widget-area,
.single-product.woocommerce-page.shopstar-shop-full-width .widget-area {
	display: none;
}

/* Breadcrumb */
.single-product.woocommerce .woocommerce-breadcrumb,
.single-product.woocommerce-page .woocommerce-breadcrumb {
	margin-bottom: 55px;
}

.woocommerce div.product .out-of-stock {
    color: #ba2227;
    font-size: 14px !important;
}

.single-product.woocommerce .entry-summary,
.single-product.woocommerce-page .entry-summary {
	margin: 1.5em 0 0;
}

.single-product.woocommerce .widget-area,
.single-product.woocommerce-page .widget-area {
	padding-top: 70px;
}

/* Product Image */
.woocommerce div.product div.images img {
	max-width: 100%;
	width: auto;
}

.single-product.woocommerce div.product div.images img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto 10px auto;
	box-shadow: none;
}
.single-product.woocommerce div.product div.images a:hover img {
    border: 1px solid #828387;
}

/* Stars */
.single-product.woocommerce div.product .woocommerce-product-rating {
    float: none;
    display: block;
}

.single-product.woocommerce .star-rating,
.single-product.woocommerce ul.products li.product .star-rating,
.single-product.woocommerce .woocommerce-product-rating .star-rating {
    color: #f1b038;
}

.single-product.woocommerce div.product p.price,
.single-product.woocommerce div.product span.price {
    color: #58585a;
    font-weight: 300;
}

.woocommerce #content div.product form.cart .variations td.label,
.woocommerce div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label {
    padding: 5px 1px 5px 1px;
    margin: 0;
}
.woocommerce div.product form.cart .variations label {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.woocommerce #content div.product form.cart .variations td.value,
.woocommerce div.product form.cart .variations td.value,
.woocommerce-page #content div.product form.cart .variations td.value,
.woocommerce-page div.product form.cart .variations td.value {
    padding: 0 0 2px 0;
}
.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text,
.woocommerce form .form-row select, .woocommerce-page form .form-row select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select {
    font-weight: 300;
    text-transform: none;
    font-size: 14px;
    color: #58585a;
    border: 1px solid #CCC;
}


/* Varation Wrapper */
.woocommerce .entry-summary .single_variation_wrap,
.woocommerce-page .entry-summary .single_variation_wrap {
}


/* Tabs */
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
    border-top: 1px solid #939598;
    border-bottom: 1px solid #939598;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    border-bottom: 1px solid #939598;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid #939598;
}

/* Tab Panel */
.single-product.woocommerce .woocommerce-tabs .panel h2,
.single-product.woocommerce-page .woocommerce-tabs .panel h2 {
	padding-bottom: 0;
	margin-bottom: 5px;
}

/* Product Attributes */
.woocommerce table.shop_attributes th {
    text-align: left !important;
}

/* Meta Data */
.single-product.woocommerce .product_meta,
.single-product.woocommerce-page .product_meta {
	text-transform: none;
	font-weight: 400;
	font-size: 15px;
}
.single-product.woocommerce .product_meta .sku-wrapper,
.single-product.woocommerce .product_meta .posted_in,
.single-product.woocommerce .product_meta .tagged_as {
    display: block;
}
.single-product.woocommerce .product_meta span span,
.single-product.woocommerce-page .product_meta span span,
.single-product.woocommerce .product_meta span a {
	font-weight: 300;
	font-size: 14px;
}

/* Quantity Input Container */
.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
	display: inline-block;
	width: 55px;
}

/* Quantity Input */
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
	border: 1px solid;
	border-color: #939598;
	background: #FFFFFF;
	border-radius: 0;
	height: 48px;
}

/* Add to Cart Button */
.woocommerce div.product form.cart .button {
	color: #FFFFFF;
    border-radius: 0;
    border: none;
    border-color: #939598;
    width: 100%;
    max-width: 170px;
    height: 48px;
	padding: .8em 1em .8em 1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;	
}

.woocommerce div.product form.cart .button {
	margin: 0 0 0 7px;
}

/* Stars */
.woocommerce p.stars a {
	color: #f1b038;
}


/* -------- Cart Page -------- */

/* Full width mode */
.woocommerce-cart.woocommerce-page.shopstar-shop-full-width #primary {
	width: 100%;
	float: none;
	padding: 0;
}
.woocommerce-cart.woocommerce.shopstar-shop-full-width .widget-area,
.woocommerce-cart.woocommerce-page.shopstar-shop-full-width .widget-area {
	display: none;
}

.woocommerce-cart .widget-area {
    padding: 21px 0 0 2%;
}

/* Heading Row */
.woocommerce table.cart th,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart th {
    background-color: transparent;
}

.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt {
    margin-bottom: 0;
}

.woocommerce td.product-name dl.variation dd p {
    margin: 0;
}


/* Remove Button */
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
    color: #ba2227 !important;
    padding: 0 0 0 1px;
    line-height: 28px;
}
.woocommerce table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover {
    color: #FFFFFF !important;
    background-color: #ba2227;
}

/*
.woocommerce table.shop_table td.product-price,
.woocommerce-page table.shop_table td.product-price {
    padding-top: 45px;
}

.woocommerce table.shop_table td.product-subtotal,
.woocommerce-page table.shop_table td.product-subtotal {
    padding-top: 45px;
}
*/

.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
    padding: 8px 6px;
}

.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input {
    top: 0px !important;
	border: 1px solid;
    border-color: #939598;
    background: #FFFFFF;
    height: 48px;
    line-height: 1;
    margin: 0 0 0 7px;
	padding: .6em 1em .4em 1em;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
	line-height: 20px;
    border-radius: 0;
    text-shadow: none;
}

.woocommerce table.cart input[type="submit"],
.woocommerce-page #content table.cart input[type="submit"],
.woocommerce-page table.cart input[type="submit"] {
	color: #FFFFFF;
}

/* -------- Button - Alternative -------- */

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt {
	color: #FFFFFF;
    top: 0px !important;
	display: inline-block;
	border: none;
    border-color: #939598;
    height: 48px;
    line-height: 1;
    margin: 0 0 0 0;
	/*padding: .8em 1em .4em 1em;*/
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
	line-height: 20px;
    border-radius: 0;
    text-shadow: none;    
	vertical-align: middle;
}

/* Checkout */
.woocommerce-checkout .widget-area {
    padding: 21px 0 0 2%;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #CCC;    
}

.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text {
    background-color: #FFFFFF;
}

.select2-container .select2-choice {
    border-radius: 0;
    height: 46px;
    font-weight: 300;
}
.select2-container .select2-choice>.select2-chosen {
    line-height: 46px;
}

.woocommerce form .form-row textarea.input-text,
.woocommerce-page form .form-row textarea.input-text {
    background-color: #FFFFFF;    
}

/* -------- Messages -------- */

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    border: none;
}

.cart-empty {
    font-size: 18px;
}
.return-to-shop {
    margin-bottom: 100px;
}
.cart-empty,
.return-to-shop {
    text-align: center;
}

.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message {
    border-radius: 1px;
    box-shadow: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info {
    border-radius: 1px;
    box-shadow: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-error {
    border-radius: 1px;
    box-shadow: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before {
    border-radius: 0;
    height: 100%;
    left: 20px;
    width: 30px;
	color: #515151;
}


/* -------- Responsive -------- */

@media screen and (max-width: 980px) {

    .woocommerce #container,
    .woocommerce-page #container {
        width: 100%;
        float: none;
    }
    

    .woocommerce ul.products li.product.first,
    .woocommerce-page ul.products li.product.first {
		clear: none !important;	
	}

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product
    .post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
	.post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
	.archive.woocommerce.shopstar-shop-full-width ul.products li.product {
        width: 48%;
        margin: 0 1% 22px;
    }
	
    .woocommerce ul.products li.product a {
		display: inline-block;
    	position: relative;
    }
    
	.post-type-archive-product.woocommerce .widget-area,
	.post-type-archive-product.woocommerce-page .widget-area,
	.single-product.woocommerce .widget-area,
	.single-product.woocommerce-page .widget-area {
		padding-top: 20px;
	}    
	
    .woocommerce .content-has-sidebar ul.products,
    .woocommerce-page .content-has-sidebar ul.products {
        margin: 0 -1% 30px;
    }
    
    /*
    .woocommerce .content-has-sidebar ul.products li.product,
    .woocommerce-page .content-has-sidebar ul.products li.product {
        width: 48%;
        margin: 0 1% 22px;
    }
    */
}

@media screen and (max-width: 780px) {
	/* -------- Products Widget -------- */
	.woocommerce ul.product_list_widget li, .widget_woocommerce_products ul li {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.woocommerce ul.product_list_widget li img, .widget_woocommerce_products img {
		margin: 0 auto;
		float: none;
	}
}

@media screen and (max-width: 769px) {
    
    .woocommerce .content-no-sidebar ul.products,
    .woocommerce-page .content-no-sidebar ul.products {
        margin: 0 -1% 30px;
    }
    
    .woocommerce .content-no-sidebar ul.products li.product,
    .woocommerce-page .content-no-sidebar ul.products li.product {
        width: 48%;
        margin: 0 1% 22px;
    }
    
}

@media screen and (max-width: 640px) {
    
    .woocommerce #container,
    .woocommerce-page #container {
        width: 100%;
        float: none;
    }
    
    .woocommerce .content-has-sidebar ul.products,
    .woocommerce-page .content-has-sidebar ul.products {
        margin: 0 0 10px;
    }
    
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product
    .post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
	.post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
    .archive.woocommerce.shopstar-shop-full-width ul.products li.product {
        width: 100%;
        margin: 0 1% 24px 0;
    }

    .woocommerce ul.products li.product a.add_to_cart_button,
    .woocommerce-page ul.products li.product a.add_to_cart_button {
		display: block;
    	margin: 8px auto 0 auto; 
    }
    
    /*
    .woocommerce .content-has-sidebar ul.products li.product,
    .woocommerce-page .content-has-sidebar ul.products li.product {
        width: 100%;
        margin: 0 0 24px;
    }
    */
    
}

@media screen and (max-width: 560px) {
    
    .woocommerce .woocommerce-result-count,
    .woocommerce-page .woocommerce-result-count {
        width: 100%;
        float: none;
        border-bottom: 0;
        margin: 0;
}
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
        width: 100%;
        float: none;
    }
    
}

@media screen and (max-width: 460px) {
    
    .woocommerce .content-no-sidebar ul.products,
    .woocommerce-page .content-no-sidebar ul.products {
        margin: 0 0 10px;
    }
    
    .woocommerce .content-no-sidebar ul.products li.product,
    .woocommerce-page .content-no-sidebar ul.products li.product {
        width: 100%;
        margin: 0 0 24px;
    }
    
}

@media screen and (max-width: 980px) {
    
    .woocommerce #container,
    .woocommerce-page #container {
        width: 100%;
        float: none;
    }
    
    .woocommerce ul.products li.product.first,
    .woocommerce-page ul.products li.product.first {
		clear: none !important;	
	}

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product
    .woocommerce.shopstar-shop-full-width ul.products li.product,
	.woocommerce-page.shopstar-shop-full-width ul.products li.product {
        width: 48%;
        margin: 0 1% 22px;
    }
    
}

@media screen and (max-width: 972px) {
	
	/* Turn "side tabs" into top tabs */

	.woocommerce-tabs ul.tabs,
	.woocommerce div.product .woocommerce-tabs ul.tabs,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	    list-style: none;
	  	padding: 0 0 0 5px;
	    margin: 0 0 5px 0;
	    overflow: hidden;
	    position: relative;
	  	width: 100%;
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
	    background: #FFFFFF;
	    z-index: 2;
	    border-bottom-color: #FFFFFF;
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	    border: 1px solid #d3ced2;
	    background-color: #ebe9eb;
	    display: inline-block;
	    position: relative;
	    z-index: 0;
	    border-radius: 4px 4px 0 0 !important;
	    margin: 0 -5px;
	    padding: 0 1em;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
		content: ''; 
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
		content: ''; 
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	    color: inherit;
	    text-shadow: inherit;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	    display: inline-block;
	    padding: .5em 0;
	    font-weight: 700;
	    color: #515151;
	    text-decoration: none;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	    display: inline-block;
	    padding: .5em 0;
	    font-weight: 700;
	    color: #515151;
	    text-decoration: none;
	}
	
	.woocommerce #content div.product .woocommerce-tabs .panel,
	.woocommerce div.product .woocommerce-tabs .panel,
	.woocommerce-page #content div.product .woocommerce-tabs .panel,
	.woocommerce-page div.product .woocommerce-tabs .panel {
		padding: 0;
		width: 100%;
	}
}

@media screen and (max-width: 780px) {
	.account-link {
		padding: 0 0 0 0;	
	}

	.site-header .top-bar .header-cart {
		margin: 0;
		padding: 0 0 0 7px;
	}

	.header-cart-checkout .fa {
		font-size: 15px;
	}

	.woocommerce.shopstar-shop-full-width ul.products,
	.woocommerce-page.shopstar-shop-full-width ul.products {
        margin: 0 -1% 30px;
    }

	.woocommerce.shopstar-shop-full-width ul.products li.product,
	.woocommerce-page.shopstar-shop-full-width ul.products li.product {
        width: 48%;
        margin: 0 1% 22px;
    }

}

@media screen and (max-width: 769px) {
    
	.woocommerce #customer_details,
	.woocommerce-page #customer_details {
		width: 100%;
	}
	.woocommerce #order_review_heading,
	.woocommerce-page #order_review_heading,
	.woocommerce #order_review,
	.woocommerce-page #order_review {
		width: 100%;
	}
	.woocommerce #order_review_heading,
	.woocommerce-page #order_review_heading {
		margin: 44px 0 0;
	}
}

@media screen and (max-width: 768px) {

	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
	    margin: 0 0 20px;
	    
	}

	.woocommerce table.cart input,
	.woocommerce-page #content table.cart input,
	.woocommerce-page table.cart input {
		font-size: 13px;
	}

	.woocommerce #content table.cart td.actions,
	.woocommerce table.cart td.actions,
	.woocommerce-page #content table.cart td.actions,
	.woocommerce-page table.cart td.actions {
		display: inline-block;
		width: 100%;
	}

	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		/*max-width: 260px;
		min-width: 254px;*/
		float: right;
		display: inline-block;
		clear: both;
	}
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text {
		max-width: 150px;
	}
	
	.woocommerce #content table.cart td.actions .coupon .button,
	.woocommerce table.cart td.actions .coupon .button,
	.woocommerce-page #content table.cart td.actions .coupon .button,
	.woocommerce-page table.cart td.actions .coupon .button {
		max-width: 120px;
		padding: 9px 0 9px 0;
		clear: none;
		float: none !important;
	}

	.woocommerce #content table.cart td.actions .button,
	.woocommerce table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .button {
		max-width: 120px;
		padding: 9px 0 9px 0;
		float: right;
		clear: both;
		display: inline-block;
	}	
	
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
	}
	
	.woocommerce .cart-collaterals .cart_totals table td,
	.woocommerce-page .cart-collaterals .cart_totals table td {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
    
    .woocommerce #container,
    .woocommerce-page #container {
        width: 100%;
        float: none;
    }
    
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product,
	.woocommerce.shopstar-shop-full-width ul.products li.product,
	.woocommerce-page.shopstar-shop-full-width ul.products li.product {
        width: 100%;
        margin: 0 0 24px;
    }
    
}

@media screen and (max-width: 560px) {
    
    .woocommerce .woocommerce-result-count,
    .woocommerce-page .woocommerce-result-count {
        width: 100%;
        float: none;
        border-bottom: 0;
        margin: 0;
}
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
        width: 100%;
        float: none;
    }
    
}

@media screen and (max-width: 460px) {
    
	.woocommerce.shopstar-shop-full-width ul.products,
	.woocommerce-page.shopstar-shop-full-width ul.products {
        margin: 0 0 10px;
    }
    
	.woocommerce.shopstar-shop-full-width ul.products li.product,
	.woocommerce-page.shopstar-shop-full-width ul.products li.product {
        width: 100%;
        margin: 0 0 24px;
    }
    
