/*
Theme Name: Shopstar
Theme URI: http://www.outtheboxthemes.com/themes/shopstar/
Author: Out the Box
Author URI: http://www.outtheboxthemes.com/
Description: A super stylish, fully responsive, easy to use theme perfect for an online store, fashion website or blog. Its minimalist design features let your products and visuals do the talking. Integrated with powerful plugins like SiteOrigin's Page Builder and Contact Form 7, as well as being Woocommerce-ready - it's easily customisable and ready to go. Download it today and get your customers shopping up a storm!
Version: 1.0.12
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: shopstar
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, theme-options, threaded-comments, translation-ready, blog, e-commerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Shopstar is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
	8.1 Shopstar Univeral Styling
	8.2 Shopstar Content Layout Styling
	8.3 Shopstar Theme Styling
9.0 Widgets
10.0 Content
    10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}
body.show-main-menu #main-menu {
    right: 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	outline: 0 !important;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #939598;
	background: #FFFFFF;
	width: 100%;
	width: auto;
	height: 30px;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 13px;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding: 12px 3px 0 3px;
	width: 100%;
	height:100px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	line-height: 0;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
	padding: 0 38px 0 0;
	display: block;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-weight: 400;
	font-size: 20px;
    letter-spacing: 1px;
	line-height: 19px;
	text-transform: uppercase;
	padding: 0 0 18px 0;
    -webkit-transition: color 0.2s ease 0s;
     -moz-transition: color 0.2s ease 0s;
      -ms-transition: color 0.2s ease 0s;
       -o-transition: color 0.2s ease 0s;
          transition: color 0.2s ease 0s;	
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: auto;
	left: -999em;
	z-index: 99999;
	margin-top: 16px;
	padding: 6px 0 10px 0;
	background-color: #FFFFFF;
	
	background-position:top left, top right;
	background-repeat: repeat-y;
	
    -webkit-transition: all 0.s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;

}

.main-navigation ul ul li {
	padding: 0;
	margin: 0;
}

.main-navigation ul ul ul {
	left: -999em;
	left: 100%;
	display: none;
	top: 0;
	margin: -11px 0 0 0;
	position: absolute;
	
    -webkit-transition: all 0.s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;

}

.main-navigation ul ul a {
	width: 100%;
	font-weight: 300;
	text-transform: none;
	font-size: 14px;
	line-height: 28px;
	line-height: 17px;
	padding: 4px 10px 4px 10px;
	text-align: left;
	min-width: 190px;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

@media only screen and (min-width: 960px) {
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		display: block;
	}
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

.main-navigation-inner {
	display: inline-block;
	vertical-align: top;
}


/* Mobile Menu */

.main-navigation .menu-toggle,
.main-navigation .close-button {
    display: none;
}

.submenu-toggle {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 10px 14px;
	padding: 2px 11px 5px 14px; 
	height: 33px;
	line-height: 15px;
	text-align: center;
	font-size: 28px;
	z-index: 9;
	cursor: pointer;
    -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.submenu-toggle .fa {
	font-weight: 300;
}
.submenu-toggle:hover .fa {
	color: rgba(255, 255, 255, 0.6);
}

/* Small menu. */

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
	text-align: right;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
8.1 Shopstar Universal Styling
--------------------------------------------------------------*/

.clearboth {
	clear: both;
}
ul.no-indent {
	margin-left: 0;
}
ul.no-bullets {
	list-style: none;
}
.centered {
    text-align: center;
}


/*--------------------------------------------------------------
8.2 Shopstar Content Layout Styling
--------------------------------------------------------------*/

.container {
	position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.padder {
	margin: 0;
	padding: 0;
	height: 100%;
}


.woocommerce #container,
.woocommerce-page #container,
.content-area {
	width: 75%;
	float: left;
	padding: 0 2% 0 0;
}

.widget-area {
	width: 25%;
	float: left;
	padding: 100px 0 0 2%;
}
.home .widget-area {
    padding-top: 22px !important;
}
.blog .widget-area {
    padding-top: 100px;
}
.page-template-template-left-sidebar-php .content-area {
	width: 75%;
	float: left;
	padding: 0 0 0 2%;
}

.page-template-template-left-sidebar-php .widget-area {
	width: 25%;
	float: left;
	padding: 100px 2% 0 0;
}

.error404 .content-area,
.page-template-template-full-width-php .content-area,
.woocommerce .content-no-sidebar #container,
.woocommerce-page .content-no-sidebar #container,
.content-no-sidebar .content-area {
	float: none;
	width: 100%;
	padding: 0;
}


/*--------------------------------------------------------------
8.3 Shopstar Theme Styling
--------------------------------------------------------------*/

body {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	margin-top: 0;
}

h1 {
	padding-bottom: 20px;
	background: url('library/images/heading-underline.jpg') center bottom no-repeat;
	text-transform: uppercase;
	font-size: 20px;
	color: #000000;
	font-weight: 400;
	text-align: center;
	margin: 0 0 2.3em;
}

h1.page-not-found {
	color: #c8cacc;
	background: none;
	font-size: 100px;
	margin: 0;
}

h2 {
	padding-top: 10px;
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	text-align: left;
}

h2 a {
	text-decoration: none;
}

h3 {
	padding-bottom: 20px;
    margin-bottom: 30px;
	padding: 0;

	padding-top: 10px;
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	font-weight: 400;
	text-align: left;
}

h4 {
	padding-bottom: 20px;
    margin-bottom: 30px;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	text-transform: normal;
	font-size: 14px;
	color: #000000;
	font-weight: 400;
	text-align: left;
}

h5 {
	padding-bottom: 20px;
    margin-bottom: 30px;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	text-transform: normal;
	font-size: 13px;
	color: #000000;
	font-weight: 400;
	text-align: left;
}

h6 {
	padding-bottom: 20px;
    margin-bottom: 30px;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	text-transform: normal;
	font-size: 12px;
	color: #000000;
	font-weight: 400;
	text-align: left;
}

a {
	text-decoration: none;
}

p.centered {
	text-align: center;
}

/* -------- Form Inputs Styling -------- */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	text-indent: 7px;
	font-size: 14px;
	font-weight: 300;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"] {
	height: 30px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #FFFFFF;
	border: none;
	border-color: #939598;
	width: 100%;
	width: auto;
	height: 30px;
	line-height: 1;
	padding: .6em 1em .4em;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 13px;
}

table th {
	text-align: left;
}

/* Site Header */

.top-bar .container,
.site-header .container,
.search-slidedown .container,
.site-content .container,
.site-footer .container {
	max-width: 100%;
	margin: 0 auto;
	/*padding: 0 22px;*/
	position: relative;
	box-shadow: none;
	background-color: transparent;
}

.main-navigation > .container {
	padding-top: 18px;
}

.site-header .top-bar .container,
.home .site-header .container {
	border-bottom: 0px;
}

.header-placeholder {
	background-color: #FFFFFF;
	height: 242px;
}

.site-header .branding {
	margin: 0 0 23px 0;
}

.site-header .branding .title {
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 1px;
	font-size: 55px;
	line-height: 70px;
	font-weight: 400;
	text-decoration: none;
    -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.site-header .branding .description {
	font-size: 18px;
	line-height: 20px;
	font-weight: 300;
	margin: 0;
	width: 100%;
	display: block;
}

.top-bar {
	vertical-align: top;
	z-index: 10;
	height: 50px;
	display: inline-block;
	width: 100%;
}

.top-bar .container {
    position: relative;
	height: 100%;
}

.site-header .top-bar .left {
	float: left;
	height: 100%;
    padding: 0;
    position: relative;
	display: inline-block;
	width: 50%;
	text-align: left;
}

.site-header .top-bar .right {
	float: right;
	height: 100%;
    font-size: 12px;
    padding: 0;
    position: relative;
	display: inline-block;
	vertical-align: top;
    width: 50%;
    text-align: right;
}
.site-header .top-bar .right a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 17px 0 0 0;
	
    -webkit-transition: color 0.1s linear 0s;
     -moz-transition: color 0.1s linear 0s;
      -ms-transition: color 0.1s linear 0s;
       -o-transition: color 0.1s linear 0s;
          transition: color 0.1s linear 0s;
}
.site-header .top-bar .right a:hover {
    color: rgba(255, 255, 255, 0.6);
}
.site-header .top-bar .info-text {
	color: #FFFFFF;
	padding: 18px 0 0 10px;
	line-height: 14px;
	height: 100%;
}
.site-header .top-bar .info-text a:hover {
	color: rgba(255, 255, 255, 0.6);
}

/* Navigation Menu */

.menu-help-container {
	display: inline-block;
	vertical-align: top;
}

.site-header .search-button {
	display: inline-block;
}
.site-header .search-button a {
    font-weight: 600;
}

/* -------- Search Slidedown Styling -------- */

.search-slidedown {
	position: absolute;
	opacity: 0;
	margin-top: 5px;
    top: 100%;
    right: 0px;
	z-index: 10;
	width: 100%;
}
.search-slidedown .search-block {
	position: absolute;
}

.search-block .search-field {
    margin: 0;
    padding: 4px 9px;
    height: 23px;
    width: 270px;
	border-top: 0px;
    outline: none;
	vertical-align: baseline;
}
.search-block label {
	vertical-align: baseline;
	display: inline-block;
}
.search-block .search-submit,
.widget_search .search-submit {
	display: none;
    padding: 0;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 33px;
    width: 34px;
	widget: 14%;
    position: relative;
    right: 6px;
	right: 0;
}
.widget_search .search-submit {
	widget: 14%;
}

a.button {
	text-transform: uppercase;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-weight: 400;
	height: 47px;
	width: 100%;
	width: auto;
	display: inline-block;
	padding: 16px 37px 17px 37px;
	text-decoration: none;
}
a.button:hover {
	color: #FFFFFF;
}

.slider-container.default .slider .slide .overlay a.button,
.header-image .overlay a.button {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	font-weight: 400;
	height: 47px;
	width: 100%;
	width: auto;
	display: inline-block;
	padding: 16px 37px 17px 37px;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	margin: 40px 0 40px 0;
}
.site-footer .widgets a.button {
	border: 1px solid #4D4D4D;
	color: #4D4D4D;
	padding: 15px 37px 17px 37px;
}
.site-footer .widgets a.button:hover {
	background-color: rgba(255, 255, 255, 0.65);
}

.site-content {
	margin: 15px 0 0 60px; 
}

.entry-content code {
    display: block;
    background: #f7f7f7;
    border: 1px solid #D8D8D8;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
    margin: 5px 0;
    overflow-x: auto;
}

/* -------- Home Slider Styling -------- */

.slider-container {
	overflow-x: hidden;
    width: 100%;
}

.slider-container.default {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    margin: 0;
}
.slider-container.default.loading { 
    overflow: hidden;
	background: url(library/images/loader.gif) center center no-repeat;
}
.slider-container.default.loading .slider { 
    visibility: hidden;
}
.slider-container.default .slider { 
    padding: 0;
	margin: 0;
	list-style: none;
}
.slider-container.default .slider .slide {
    float: left;
    position: relative;
}
.slider-container.text-shadow .slider .slide .overlay {
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.slider-container.default .slider .slide .overlay {
    width: 100%;
    top: 35%;
	word-wrap: break-word;
	z-index: 8;
	margin: -26px 0 0 0;
    padding: 0 120px 0 120px;
	position: absolute;
    text-align: center;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 25px;
}
.slider-container.default .slider .slide .overlay h1,
.slider-container.default .slider .slide .overlay h2,
.slider-container.default .slider .slide .overlay h3,
.slider-container.default .slider .slide .overlay h4,
.slider-container.default .slider .slide .overlay h5,
.slider-container.default .slider .slide .overlay h6 {
    text-align: center;
}
.slider-container.default .slider .slide .overlay h1,
.slider-container.default .slider .slide .overlay h2 {
	margin: 0;
	padding: 0;
    font-size: 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
	font-weight: 500;
	line-height: 1.2em;
	background: none;
}
.slider-container.default .slider .slide .overlay p {
	margin: 0px 0 0px 0;
	padding: 0;
}
.slider-container.default .slider .slide img {
    display: block;
    width: 100%;
	min-width: 600px;
    height: auto;
}
.slider-container.default .slider .slide .overlay a {
    text-decoration: underline;
}
.slider-container.default .slider .slide .overlay a:hover {
    text-decoration: none;
}

.slider-container.default .pagination {
    bottom: 0;
    height: 30px;
    position: absolute;
    text-align: right;
	z-index: 8;
	right: 8px;
}
.slider-container.default .pagination a.selected span {
    background-color: #ffffff;
    position: relative;
}
.slider-container.default .pagination a {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 3px;
}
.slider-container.default .pagination span {
    border: 2px solid rgba(255, 255, 255, 0.6) !important;
    border-radius: 8px;
    display: inline-block;
    height: 15px;
    line-height: 0;
    overflow: hidden;
    text-indent: -100px;
    width: 15px;
	font-size: 0px;
}
.slider-container.default .prev,
.slider-container.default .next {
    position: absolute;
    top: 50%;
	height: 49px;
    width: 49px;
	line-height: 50px;
    margin: -26px 0 0;
    text-align: center;
    font-size: 27px;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
    transform: scale(0.7);
    
    -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.slider-container.default .prev {
    left: 20px;
	margin: -24px 0 0 !important;
	background-image: url('library/images/slider-control-prev.png');
}
.slider-container.default .next {
    right: 20px;
	margin: -11px 0 0 23px;
	background-image: url('library/images/slider-control-next.png');
}

.slider-container.default .prev i,
.slider-container.default .next i {
    font-size: 0.8em;
    position: relative;
    top: -3px;
}
.slider-container.default:hover .prev,
.slider-container.default:hover .next {
    opacity: 1;
    transform: scale(1);
}
.slider-container.default:hover .prev.disabled,
.slider-container.default:hover .next.disabled {
    opacity: 0.4;
    cursor: default;
}

/* -------- Header Image -------- */

.header-image {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	overflow: hidden;
}
.header-image.loading { 
    overflow: hidden;
    background: url(library/images/loader.gif) center center no-repeat;
}
.header-image.text-shadow .overlay {
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.header-image .overlay {
    width: 100%;
    top: 35%;
	word-wrap: break-word;
	z-index: 8;
	margin: -26px 0 0 0;
    padding: 0 120px 0 120px;
	position: absolute;
    text-align: center;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 25px;
}
.header-image .overlay h1,
.header-image .overlay h2,
.header-image .overlay h3,
.header-image .overlay h4,
.header-image .overlay h5,
.header-image .overlay h6 {
    text-align: center;
}
.header-image .overlay h1,
.header-image .overlay h2 {
	margin: 0;
	padding: 0;
    font-size: 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
	font-weight: 500;
	line-height: 1.2em;
	background: none;
}
.header-image .overlay p {
	margin: 0px 0 0px 0;
	padding: 0;
}
.header-image.loading img,
.header-image.loading .overlay {
	visibility: hidden;
}
.header-image img {
    display: block;
    width: 100%;
    height: auto;
}
.header-image .overlay a {
    text-decoration: underline;
}
.header-image .overlay a:hover {
    text-decoration: none;
}


/* -------- Social Icons Styling -------- */

.search-btn {
    cursor: pointer;
}

.social-icons {
	margin: 12px 0 2px 0;
	padding: 0;
	list-style: none;
}

.social-icons li {
	margin: 0 5px 0 0 !important;
    padding: 0;
    list-style-type: none;
    display: inline-block !important;
}
.social-icons li:first-child {
	padding-left: 0 !important;
}
.social-icons li:last-child {
	margin-right: 0 !important;
}
.social-icons a {
    display: block;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 0 4px 0 4px;
	margin: 0;
	border-radius: 0;
	
    -webkit-transition: color 0.1s linear 0s;
     -moz-transition: color 0.1s linear 0s;
      -ms-transition: color 0.1s linear 0s;
       -o-transition: color 0.1s linear 0s;
          transition: color 0.1s linear 0s;
}
.site-header .social-icons a {
	color: #FFFFFF;
}
.social-icons .fa {
    font-size: 20px;
	float: left;
    padding: 4px 0 0 0;
}
.site-header .social-icons a:hover {
    color: rgba(255, 255, 255, 0.6);
}


/* -------- Breadcrumbs Styling -------- */

.breadcrumbs {
    line-height: 15px;
	font-size: 13px;
    text-transform: capitalize;
	margin: 0 auto 30px auto;
	text-align: center;
}
.breadcrumbs span span {
	padding: 0 3px;
}
.breadcrumbs a {
	text-decoration: none;
	padding: 0 3px;
	font-size: 13px;
	font-weight: 300;
}

/* -------- Posts Page Styling -------- */

article .entry-title {
    margin: 0 0 8px;
	padding: 0;
}
article .entry-meta {
    color: #B0B0B0;
    font-size: 0.95em;
	text-transform: uppercase;
	font-size: 14px;
}
article .entry-meta a {
	text-decoration: none;
}
article .tags-links {
    margin: 0 0 0 10px;
}
article .comments-link {
    margin: 0 0 0 10px;
}
article .edit-link {
    margin: 0 0 0 10px;
}
article .entry-footer {
    font-size: 0.95em;
    font-style: italic;
}
article .entry-footer a {
	opacity: 1;
}

/* -------- Post Images Carousel -------- */
.blog-post-side-layout .post-loop-images {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    width: 30%;
    float: left;
    border-radius: 0;
    overflow: hidden;
	margin: 6px 0 0 0;
}
.post-no-img .post-loop-images {
    display: none;
}
.blog-post-side-layout .post-loop-content {
    width: 67.5%;
    padding: 0 0 8px 0;
    float: right;
}
.blog-post-side-layout.post-no-img .post-loop-content {
    width: 100%;
    padding: 0 0 8px 0;
    float: none;
}

.post-loop-images-carousel-wrapper {
    position: relative;
}
.post-loop-images-carousel-wrapper-remove {
    background-image: url(library/images/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height: 220px;
    overflow: hidden;
}
.post-loop-images-prev,
.post-loop-images-next {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    cursor: pointer;
    height: 38px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    margin: -16px 0 0;
    padding: 5px 0 0;
    position: absolute;
    top: 50%;
    width: 34px;
    z-index: 9;
    opacity: 0;
    transform: scale(0.8);
    
    -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}
.post-loop-images-prev {
    left: 8px;
}
.post-loop-images-next {
    right: 8px;
}
.blog-post-side-layout .post-loop-images-carousel {
    
}
.post-loop-images-carousel-remove {
    height: 220px !important;
    visibility: hidden !important;
    overflow: hidden;
}
.post-loop-images-carousel div {
    float: left;
    text-align: center;
    margin: 0;
}
.blog-post-side-layout .post-loop-images-carousel div {
    margin: 0;
}
.post-loop-images-carousel img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.blog-post-top-layout .post-loop-images-carousel div {
	margin: 0 0 22px;
}
.blog-post-top-layout .post-loop-images-carousel img {
	display: inline-block;
}

.hentry:hover .post-loop-images-prev,
.hentry:hover .post-loop-images-next {
    opacity: 1;
    transform: scale(1);
}

.single .entry-thumbnail {
    margin: 20px 0;
    text-align: center;
}


/* -------- Sidebar Styling -------- */

.widget-area {
	width: 25%;
	float: left;
	padding: 100px 0 0 2%;
}

.widget-area .widget-title {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 16px;
	font-weight: 400;
}
.widget-area .widget {
	padding-bottom: 20px;
	border-bottom: 1px solid #939598;
}
.widget-area .widget.widget_search {
	padding-bottom: 28px
}
.widget-area .widget ul {
    margin: 0;
    padding: 0;
}
.widget-area .widget ul li {
    margin: 0 0 2px;
    padding: 0;
    list-style-type: none;
	font-size: 14px;
	font-weight: 300;
}
.widget-area .widget ul li a {
	font-size: 14px;
	text-decoration: none;
}


/* -------- Sidebar Search -------- */
.widget.widget_search {
	border-bottom: 0;
}

.widget-area .widget .search-field {
	width: 81%;
	height: 37px;
	max-width: 284px;
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
	float: left;
}
.widget_search .search-submit {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
	width: 40px;
	max-width: 40px;
	height: 45px;
	float: left;
	border-left: 0;
	vertical-align: top;
	text-shadow: none;
}

/* -------- Comments Styling -------- */

.comment-list {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0;
}

#comments li {
    list-style-type: none;
}
.comment-list li {
    margin: 0;
    padding: 0 0 10px;
}


/* -------- Footer Styling -------- */

.site-footer {
	margin: 25px 0 0 0;
}

.site-footer .widgets {
	padding: 59px 0 52px;
	margin: 0 0 3px 0;
	font-size: 14px;
	font-weight: 300;
}
/*
.site-footer .widgets .container .padder {
	padding: 0 55px 0 55px;
	padding: 0;
}
*/

.site-footer .widgets a {
	text-decoration: underline;
}
.site-footer .widgets a:hover {
	text-decoration: none;
}

.site-footer .widgets .container ul li {
    display: block;
}
.site-footer .widgets .container .padder > ul {
    margin: 0;
    padding: 0;
}
.site-footer .widgets .container .padder > ul > li {
    margin: 0;
	padding: 10px 35px 20px 0;
    list-style-type: none;
    display: block;
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.site-footer .widgets ul li:first-child {
	padding: 10px 18px 20px 0;
}

.site-footer .widgets ul li h2.widgettitle {
	padding: 0 0 7px;
	margin: 0 0 26px 0;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 24px;
	background: url('library/images/heading-underline.jpg') left bottom no-repeat;
}

.site-footer .widgets .widget ul {
    margin: 0;
    padding: 0;
}
.site-footer .widgets .widget ul li {
    margin: 0 0 2px;
    padding: 0;
    display: block;
    float: none;
}
.site-footer .widgets .widget ul li a {
	text-decoration: underline;
}
.site-footer .widgets .widget ul li a:hover {
	text-decoration: none;
}
.site-footer .widgets .widget .search-field {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 8px;
}
.site-footer .widgets .widget article .entry-title {
    font-size: 16px;
}

.site-footer .bottom-bar {
	color: #FFFFFF;
	padding: 29px 0 13px;
	font-size: 12px;
	line-height: 22px;
	font-weight: 300;
	height: 83px;
	text-align: center;
}
.site-footer .bottom-bar a {
	color: #FFFFFF;
	text-decoration: underline;
}
.site-footer .bottom-bar a:hover {
	text-decoration: none;
}

/* -------- MailChimp for WordPress Styling -------- */

.site-footer .mc4wp-form input[type=date],
.site-footer .mc4wp-form input[type=email],
.site-footer .mc4wp-form input[type=number],
.site-footer .mc4wp-form input[type=tel],
.site-footer .mc4wp-form input[type=text],
.site-footer .mc4wp-form input[type=url],
.site-footer .mc4wp-form select,
.site-footer .mc4wp-form textarea {
	width: 100%;
	max-width: 100%;
	height: 42px;
	border: none;
	text-indent: 10px;
	margin: 0 0 7px 0;
	padding: 0;
	display: inline-block;
	background-color: #FFFFFF;
	float: left;
}

.site-footer .mc4wp-form button,
.site-footer .mc4wp-form input[type=button],
.site-footer .mc4wp-form input[type=submit] {
	max-width: 100%;
	text-align: center;
	height: 42px;
	color: #FFFFFF;
	box-shadow: none;
	font-size: 14px;
}

/* -------- Contact Form 7 Styling -------- */

.wpcf7-text {
	width: 66%;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
}

.content-area .widget-title {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.widget-area .widget-title {
	margin-bottom: 0;
	padding-bottom: 0;
}
.widget-area .widget ul {
    margin: 0;
    padding: 0;
}
.widget-area .widget ul li {
    margin: 0 0 2px;
    padding: 0;
    list-style-type: none;
}
.widget-area .widget ul li a {
	font-size: 14px;   
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}



/*--------------------------------------------------------------
Fallback CSS for Customizer Library Styles
--------------------------------------------------------------*/

/* Background Color */
#main-menu {
	background-color: #FFFFFF;
}

/* Primary Color */
.main-navigation .menu-toggle .fa.fa-bars {
	color: #000000;
}
.site-header .top-bar,
.site-footer .bottom-bar,
.main-navigation .close-button {
	background-color: #000000;
}

@media only screen and (max-width: 960px) {
	#main-menu.shopstar-mobile-menu-primary-color-scheme {
		background-color: #000000;
	}
}

.site-header .container.bottom-border,
.site-header .main-navigation.bottom-border,
.site-header .main-navigation .container.bottom-border,
.home .site-header.bottom-border,
.main-navigation ul ul {
	border-bottom: 0px solid #000000;
}
.main-navigation ul ul {
	border-top: 5px solid #000000;
}

/* Site Title Font */
.site-header .branding .title {
	font-family: 'Prata';
}

/* Site Title Font Color */
.site-header .branding .title,
.site-header .branding .description {
	color: #000000;
}

/* Nav Menu Font Color */
.main-navigation a,
.submenu-toggle {
	color: #000000;
}

/* Nav Menu Rollover Font Color */
.main-navigation ul.menu > li > a:hover,
.main-navigation ul.menu > li.current-menu-item > a,
.main-navigation ul.menu > li.current_page_item > a,
.main-navigation ul.menu > li.current-menu-parent > a,
.main-navigation ul.menu > li.current_page_parent > a,
.main-navigation ul.menu > li.current-menu-ancestor > a,
.main-navigation ul.menu > li.current_page_ancestor > a,
.site-header .search-button a:hover {
	color: #ba2227;
}

/* Slider Font Color */
.slider-container.default .slider .slide .overlay,
.slider-container.default .slider .slide .overlay h1,
.slider-container.default .slider .slide .overlay h2,
.slider-container.default .slider .slide .overlay h3,
.slider-container.default .slider .slide .overlay h4,
.slider-container.default .slider .slide .overlay h5,
.slider-container.default .slider .slide .overlay h6,
.slider-container.default .slider .slide .overlay a,
.header-image .overlay,
.header-image .overlay h1,
.header-image .overlay h2,
.header-image .overlay h3,
.header-image .overlay h4,
.header-image .overlay h5,
.header-image .overlay h6,
.header-image .overlay a {
	color: #FFFFFF;
}

/* Heading Font */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.slider-container.default .slider .slide .overlay h1,
.slider-container.default .slider .slide .overlay h2,
.slider-container.default .slider .slide .overlay h3,
.slider-container.default .slider .slide .overlay h4,
.slider-container.default .slider .slide .overlay h5,
.slider-container.default .slider .slide .overlay h6,
.header-image .overlay h1,
.header-image .overlay h2,
.header-image .overlay h3,
.header-image .overlay h4,
.header-image .overlay h5,
.header-image .overlay h6,
.widget_woocommerce_products .product-title,
.main-navigation a,
.content-area .widget-title,
.widget-area .widget-title,
.site-footer .widgets ul li h2.widgettitle,
.woocommerce a.button,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce input.button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: 'Raleway',sans-serif;
}

/* Heading Font Color */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.widget_woocommerce_products .product-title,
.widget_woocommerce_products .widget-title,
.content-area .widget-title,
.widget-area .widget-title,
.site-footer .widgets ul li h2.widgettitle {
	color: #000000;
}

/* Body Font */
body,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.slider-container.default .slider .slide .overlay,
.header-image .overlay,
.main-navigation ul ul a,
.widget_woocommerce_products .amount,
article .entry-meta,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text,
.woocommerce form .form-row select,
.woocommerce-page form .form-row select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select,
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
	font-family: 'Lato';
}

/* Body Font Color */
body,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
article .entry-footer,
.site-footer .widgets .widget a,
.search-block .search-field,
.select2-drop,
.select2-container .select2-choice,
.select2-results .select2-highlighted,
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb,
.site-footer .widgets .widget ul li a,
.site-footer .widgets .widget .social-icons a,
.site-footer .mc4wp-form input[type=date],
.site-footer .mc4wp-form input[type=email],
.site-footer .mc4wp-form input[type=number],
.site-footer .mc4wp-form input[type=tel],
.site-footer .mc4wp-form input[type=text],
.site-footer .mc4wp-form input[type=url],
.site-footer .mc4wp-form select,
.site-footer .mc4wp-form textarea,
.widget_woocommerce_products .amount,
.widget_woocommerce_products del,
.woocommerce #reviews #comments ol.commentlist li .meta,
.woocommerce-checkout #payment div.payment_box,
.woocommerce .woocommerce-info,
.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text,
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select,
.woocommerce #content ul.products li.product span.price,
.woocommerce-page #content ul.products li.product span.price,
.woocommerce div.product p.price del,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
article .entry-meta {
	color: #4F4F4F;
}

.select2-default {
	color: rgba(79, 79, 79, 0.7) !important;
}

::-webkit-input-placeholder {
	color: rgba(79, 79, 79, 0.7);
}
:-moz-placeholder {
	color: rgba(79, 79, 79, 0.7);
}
::-moz-placeholder {
	color: rgba(79, 79, 79, 0.7);
}
:-ms-input-placeholder {
	color: rgba(79, 79, 79, 0.7);
}
.site-footer .widgets .widget .social-icons a:hover {
	color: rgba(79, 79, 79, 0.6);
}

/* Link Font Color */
a,
.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
	color: #939598;
}

@media only screen and (min-width: 960px) {
	.main-navigation ul ul a {
		color: #939598;
	}	
}

/* Link Rollover Font Color */
a:hover,
.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce-page .woocommerce-breadcrumb a:hover {
	color: #4F4F4F;
}

@media only screen and (min-width: 960px) {
	.main-navigation ul ul a:hover,
	.main-navigation ul ul li.current-menu-item > a,
	.main-navigation ul ul li.current_page_item > a,
	.main-navigation ul ul li.current-menu-parent > a,
	.main-navigation ul ul li.current_page_parent > a,
	.main-navigation ul ul li.current-menu-ancestor > a,
	.main-navigation ul ul li.current_page_ancestor > a {
		color: #4F4F4F;
	}	
}

/* Slider Control Button Color */
.slider-container.default .prev,
.slider-container.default .next {
	background-color: #000000;
}

.slider-container.default .prev:hover,
.slider-container.default .next:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

/* Button Color */

#back-to-top,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.slider-container.default .slider a.button,
.header-image a.button,
.site-footer .mc4wp-form button,
.site-footer .mc4wp-form input[type=button],
.site-footer .mc4wp-form input[type=submit],
a.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce div.product form.cart .button,
.woocommerce table.cart input.button,
.woocommerce-page #content table.cart input.button,
.woocommerce-page table.cart input.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt {
	background-color: #ff0000;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover,
.slider-container.default .slider a.button:hover,
.header-image a.button:hover,
.site-footer .mc4wp-form button:hover,
.site-footer .mc4wp-form input[type=button]:hover,
.site-footer .mc4wp-form input[type=submit]:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce-page #review_form #respond .form-submit input:hover,
.woocommerce ul.products li.product a.add_to_cart_button:hover,
.woocommerce-page ul.products li.product a.add_to_cart_button:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce div.product form.cart .button:hover,
.woocommerce table.cart input.button:hover,
.woocommerce-page #content table.cart input.button:hover,
.woocommerce-page table.cart input.button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page button.button.alt:hover {
	background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}

/* Footer Color */

#main-menu,
.site-footer .widgets {
	background-color: #ECEDED;
}

.site-header .main-navigation.bottom-border.mobile {
	border-bottom-width: 0px;
}


/* Responsive */

@media screen and (max-width: 1184px) {
    .padder {
		margin: 0 22px 0 22px;
    }
}

@media screen and (max-width: 1086px) {
	.widget-area .widget .search-field {	
		width: 72%;
	}
}

@media screen and (max-width: 1069px) {
    .slider-container.default .slider .slide .overlay,
	.header-image .overlay {
        font-size: 23px;
		padding: 0 60px;    	
    }
    .slider-container.default .slider .slide .overlay h2,
    .header-image .overlay h2 {
        font-size: 38px;
        margin: -15px 0 0;
    }
	.slider-container.default .slider a.button,
    .header-image a.button {
		margin: 30px 0 30px 0;
	}

}

@media only screen and (max-width: 960px) {
	.main-navigation .padder {
		margin: 0;
	}	

	.submenu-toggle {
    	display: block;
    }
    
	/* Mobile Menu */
	.site-header .main-navigation .container {
		border-bottom: none !important;
	}
	
	.site-header .main-navigation.bottom-border.mobile {
		border-bottom-width: 5px;
	}

	.main-navigation .main-navigation-inner {
		display: block;	
	}
	
	.site-header .search-button {
	    display: block;
	    padding: 8px 22px 0 26px;
	    text-align: left;
	}	
	.main-navigation .search-slidedown {
		margin: 0;
		top: 0;
		position: relative;
	}
	.main-navigation .search-slidedown .container {
		padding: 0;
		width: 100%;
	}
	.main-navigation .search-slidedown .padder {
		margin: 0px;
		width: 100%;
		display: inline-block;
	}
	.main-navigation .search-slidedown .search-block {
		margin: 0 !important;
		float: left;
		width: 254px;
		left: 26px !important;
	}
	.main-navigation .search-slidedown .search-block label {
		width: 80%;
		float: left;
		display: inline-block;
	}
	.main-navigation .search-slidedown .search-block .search-field {
		border: 0;
		padding: 4px 0 4px 0;
		width: 100%;
	}
    .main-navigation .menu-toggle {
	    display: block;
		margin: 0 auto 0 auto;
	    padding: 16px 18px;
	    color: #FFF;
	    text-transform: uppercase;
    	text-align: center;
	    cursor: pointer;
	}
	.main-navigation .menu-toggle .fa.fa-bars {
    	font-size: 28px;
	}
    .main-navigation .nav-menu {
		display: block !important;
    	display: inline-block;
    }
    #main-menu {
        color: #8C8C8C;
        box-shadow: 1px 0 1px rgba(255, 255, 255, 0.04) inset;
        position: fixed;
        top: 0;
        right: -280px;
        width: 280px;
        max-width: 100%;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 74px 0 30px 0;
        z-index: 100000;
        height: 100%;
        overflow: auto;
        -webkit-transition: right 0.4s ease 0s;
        -moz-transition: right 0.4s ease 0s;
        -ms-transition: right 0.4s ease 0s;
        -o-transition: right 0.4s ease 0s;
        transition: right 0.4s ease 0s;
    }
    .main-navigation ul {
        display: block;
    }
    .main-navigation li {
        display: block;
        float: none;
        position: relative;
    	margin: 0;
    	padding: 0;
    }
    .main-navigation li a {
    	white-space: normal !important;
		display: block;
        float: none;
        padding: 8px 22px 8px 26px;
        font-size: 14px;
        text-align: left;
  	}
  	
    .main-navigation ul ul {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        float: none !important;
    	background-color: transparent;
    	background-image: none;
    	box-shadow: none;
    	border: none;
        padding: 0;
        margin: 0;
        display: none;
    }
    .main-navigation ul ul li:last-child a,
    .main-navigation ul ul li a {
        box-shadow: none;
        padding: 6px 30px;
        width: auto;
    }
    
	.main-navigation ul ul ul {
		margin: 0;
		left: 0 !important;
	}    

    .main-navigation ul ul ul li a {
        padding: 6px 39px !important;
    }
    .main-navigation ul ul ul ul li a {
        padding: 6px 47px !important;
    }

    .main-navigation .close-button {
        display: block;
    	border-radius: 100%;
        position: absolute;
        top: 23px;
        left: 22px;
        font-size: 26px;
    	font-weight: 400;
        color: #FFFFFF;
        text-align: center;
        padding: 0 6px 0 10px;
        height: 36px;
    	width: 36px;
        line-height: 33px;
        cursor: pointer;
    	
	    -webkit-transition: all 0.2s ease 0s;
	     -moz-transition: all 0.2s ease 0s;
	      -ms-transition: all 0.2s ease 0s;
	       -o-transition: all 0.2s ease 0s;
	          transition: all 0.2s ease 0s;

    }
    
    .main-navigation .close-button .fa {
	    -webkit-transition: all 0.2s ease 0s;
	     -moz-transition: all 0.2s ease 0s;
	      -ms-transition: all 0.2s ease 0s;
	       -o-transition: all 0.2s ease 0s;
	          transition: all 0.2s ease 0s;
	}

	.main-navigation .close-button .fa-angle-left {
        position: relative;
        left: -4px;
    }
	
	#main-menu.shopstar-mobile-menu-primary-color-scheme a,
	#main-menu.shopstar-mobile-menu-primary-color-scheme .submenu-toggle {
    	color: #FFFFFF;
	}
	
	#main-menu.shopstar-mobile-menu-primary-color-scheme li.current-menu-item > a,
	#main-menu.shopstar-mobile-menu-primary-color-scheme li.current_page_item > a,
	#main-menu.shopstar-mobile-menu-primary-color-scheme li.current-menu-parent > a,
	#main-menu.shopstar-mobile-menu-primary-color-scheme li.current_page_parent > a,
	#main-menu.shopstar-mobile-menu-primary-color-scheme li.current-menu-ancestor > a,
	#main-menu.shopstar-mobile-menu-primary-color-scheme li.current_page_ancestor > a {
		color: rgba(255, 255, 255, 0.6);
	}
	
	#main-menu.shopstar-mobile-menu-primary-color-scheme .close-button:hover .fa,	
	#main-menu.shopstar-mobile-menu-primary-color-scheme li > a:hover,
	#main-menu.shopstar-mobile-menu-primary-color-scheme .search-button a:hover {
		color: rgba(255, 255, 255, 0.6);
	}
    
    .open-page-item > ul.children,
    .open-page-item > ul.sub-menu {
    	display: block !important;
    }

}

@media screen and (max-width: 849px) {
    .slider-container.default .slider .slide .overlay,
	.header-image .overlay {
        font-size: 20px;
    }
    .slider-container.default .slider .slide .overlay h2,
    .header-image .overlay h2 {
        font-size: 28px;
        margin: -22px 0 0;
    }
	.slider-container.default .slider a.button,
    .header-image a.button {
		margin: 20px 0 20px 0;
	}

}

@media only screen and (max-width: 782px) {
    .main-navigation {
        margin: 0;
    }
    .main-navigation .menu-toggle {
        padding: 19px 16px;
    }
    .main-navigation .menu-toggle .fa.fa-bars {
        font-size: 21px;
    }
    
}


@media screen and (max-width: 780px) {
	.top-bar {
		height: auto;
	}
	
	.site-header .top-bar .left {
		padding: 11px 0 2px 0;
        float: none !important;
        width: 100% !important;
        text-align: center;
    	height: auto;
	}
	
    .site-header .top-bar .right {
    	padding: 5px 0 8px 0;
        float: none !important;
        width: 100% !important;
    	height: auto;
		text-align: center !important;
    	right: 0;
    }
	
	.social-icons {
		width: 100%;
		text-align: center;
		margin: 0;
		line-height: 15px;
	} 

	.social-icons li {
		font-size: 15px;
		line-height: 15px;
		display: inline-block;
		vertical-align: top;
	    float: none;
	    padding: 0 0 0 3px;
	}
	.site-header .top-bar .social-icons a {
	    margin: 0;
	    font-size: 15px;
		line-height: 15px;
		vertical-align: top;
		display: inline-block;
	}
	.site-header .top-bar .social-icons .fa {
		font-size: 15px;
		line-height: 15px;
		padding: 0;
	}
	.site-header .top-bar .right .social-icons {
		margin-top: 4px;
	}

	.site-header .top-bar .info-text {
		padding: 3px 0 2px 0;
		font-size: 11px;
	}
    
    .site-header .top-bar .right a {
		padding: 0;
    	font-size: 10px;
    }
    
	.site-header .top-bar ul li {
		box-shadow: 0;
	}
}


@media screen and (max-width: 780px) {
	
    .site-top-bar-left {
        float: none !important;
        width: 100% !important;
        text-align: center;
    }
    .site-top-bar-right {
        float: none !important;
        width: 100% !important;
        text-align: center !important;
    }
	.shopstar-header-layout-standard .site-top-bar-left-text {
		text-align: center !important;
	}

    .site-header-left {
        float: none !important;
        width: 100% !important;
        text-align: center;
    }
    .site-header-right {
        float: none !important;
        width: 100% !important;
        text-align: center;
        padding: 10px 0 0 !important;
        min-height: 40px !important;
    }
    
	.site-header.left-aligned .branding,
    .site-header.left-aligned .branding .description {
        width: 100% !important;
        text-align: center;
    }

    .slider-container.default .slider .slide h2,
    .header-image h2 {
        font-size: 32px;
        margin: -22px 0 0;
    }
    
    .content-area {
        width: 100% !important;
        float: none !important;
        box-shadow: none !important;
        padding: 0 0 20px;
    }
    .widget-area {
        width: 100% !important;
        float: none !important;
        padding: 0 0 20px;
    }
    .blog .widget-area {
		padding-top: 0;
    }
    .page-template-template-left-sidebar-php .widget-area {
        box-shadow: 0 1px 0 #e0e0e0;
        padding: 0 0 10px;
        margin: 0 0 30px;
    }
    .page-template-default .widget-area {
        box-shadow: 0 -1px 0 #e0e0e0;
        padding: 30px 0 0;
        margin: 10px 0 0;
    }
    
  	/*
    .widget-area .widget .search-field {
    	width: 78%;
    	max-width: 200px;
	}
    */
    
    .site-footer .widgets .container > ul {
        display: block;
    }
    .site-footer .widgets ul li.widget {
        width: 100% !important;
        float: none !important;
        padding: 0 0 40px !important;
        display: block;
    }
    .site-footer .widgets ul li.widget:last-child {
        padding: 0 0 10px !important;
    }
    
}

@media screen and (max-width: 650px) {
    .slider-container.default .slider .slide .overlay,
	.header-image .overlay {
        font-size: 17px;
    }
    .slider-container.default .slider .slide .overlay h2,
    .header-image .overlay h2 {
        font-size: 20px;
        margin: -22px 0 0;
    }
	.slider-container.default .slider a.button,
    .header-image a.button {
		margin: 10px 0 10px 0;
	}
	
	.blog-post-side-layout .post-loop-images,
	.blog-post-side-layout .post-loop-content {
		width: 100%;
		box-shadow: none;
		margin: 0 0 15px 0;
	}


}
